*target*
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject

.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/log4j.properties
/log4j-core-2.0-beta9.jar
